body{
    background-image: url('/src/images/Login/background.jpg');
    background-size: cover;
}

.body_login{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.login_container{
    text-align: center;
    flex-direction: column;
}

h2{
    margin-top: 10vh;
    font-family:sans-serif; 
}

.input_field {
    width: 100%;
    padding: 10px;
    margin-top: 5vh;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.button{
    background-color: #0330E6;
    border: none;
    padding: 10px;
    width: 50%;
    border-radius: 30px;
    color: white;
}

.button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 106%; 
    margin-top: 5vh;
}

.button_register{
    color:#0330E6;
    border: none;
    background-color: white;
}

text{
    font-size: small;
}

.text2{
    font-size: 16px;
}

.text_container{
    margin-top: 5vh;
}

.button_google{
    display: flex;
    color: #0330E6;
    background-color: white;
    border-color:#0330E6;
    border-radius: 10px;
    padding: 8px; 
    width: 50%;
    margin-top: 4vh;
    justify-content: center;
    align-items: center;
}

.google_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
